<div class="row">
  <div class="col-xs-12">
    <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-responsive"/>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>{{recipe.name}}</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
        <button type="button" class="btn btn-primary dropdown toggle">Manage Recipes<span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-menu-item" style="cursor:pointer;" (click)="onAddToShoppingList()">To Shopping List</a></li>
          <li><a href="#" class="dropdown-menu-item">Add a recipe</a></li>
          <li><a href="#" class="dropdown-menu-item">Delete a recipe</a></li>
        </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <div class="li-list-group-item" *ngFor="let ingredient of recipe.ingredients">
          {{ingredient.name}} - {{ingredient.amount}}
        </div>
      </ul>
    </div>
  </div>